---
# Managed by Ansible - Abbey Root

{% for host in groups['all'] | sort %}
{% if hostvars[host].homepage_services is defined %}
{% for service_group in hostvars[host].homepage_services %}
- {{ service_group.group }}:
{% for service in service_group.services %}
    - {{ service.name }}:
{% if service.href is defined %}
        href: {{ service.href }}
{% endif %}
{% if service.description is defined %}
        description: {{ service.description }}
{% endif %}
{% if service.icon is defined %}
        icon: {{ service.icon }}
{% endif %}
{% if service.server is defined %}
        server: {{ service.server }}
{% endif %}
{% if service.container is defined %}
        container: {{ service.container }}
{% endif %}
{% if service.ping is defined %}
        ping: {{ service.ping }}
{% endif %}
{% endfor %}

{% endfor %}
{% endif %}
{% endfor %}

- Servers:
{% for host in groups['all'] | sort %}
{% if hostvars[host].homepage_show_server | default(false) %}
    - {{ host }}:
{% if hostvars[host].homepage_icon is defined %}
        icon: {{ hostvars[host].homepage_icon }}
{% endif %}
        description: {{ hostvars[host].host_description | default('Lab server') }}
        ping: {{ hostvars[host].primary_ip | default(hostvars[host].ansible_host | default(host)) }}
{% endif %}
{% endfor %}
