---
# Managed by Ansible - Abbey Root

{% for service_group in homepage_services %}
- {{ service_group.group }}:
{% for service in service_group.services %}
    - {{ service.name }}:
{% if service.href is defined %}
        href: {{ service.href }}
{% endif %}
{% if service.description is defined %}
        description: {{ service.description }}
{% endif %}
{% if service.icon is defined %}
        icon: {{ service.icon }}
{% endif %}
{% if service.server is defined %}
        server: {{ service.server }}
{% endif %}
{% if service.container is defined %}
        container: {{ service.container }}
{% endif %}
{% if service.ping is defined %}
        ping: {{ service.ping }}
{% endif %}
{% endfor %}

{% endfor %}
