# Abbey Root Automation

Generated automatically by Ansible.

## Playbooks

{% for playbook in query('fileglob', playbook_dir + '/*.yml') | sort %}
- {{ playbook | basename }}
{% endfor %}

## Roles

| Role | Description |
|------|-------------|
{% for role in ansible_roles.files | sort(attribute='path') %}
{% set readme_path = role.path + '/README.md' %}
{% set readme_exists = lookup('fileglob', readme_path, wantlist=True) | length > 0 %}
| {{ role.path | basename }} | {% if readme_exists %}{{ lookup('file', readme_path).split('\n')[2] | default('') }}{% else %}No README found{% endif %} |
{% endfor %}
