[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
retry_files_enabled = False
stdout_callback = default
roles_path = roles
vault_password_file = ~/.ansible/abbey-vault-pass

[privilege_escalation]
become = True
become_method = sudo
become_user = root
