---
import Nav from '../components/Nav.astro';
import '../styles/global.css';
import '../styles/navigation.css';
import '../styles/layout.css';
import '../styles/project.css';

const { title, description } = Astro.props;
const siteTitle = title === 'Brad Cooke' ? title : `${title} | Brad Cooke`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{siteTitle}</title>
    {description && <meta name="description" content={description} />}
  </head>

  <body>
    <Nav />

    <main>
      <slot />
    </main>
  </body>
</html>

