---
import { getCollection } from 'astro:content';

const pages = await getCollection('pages', ({ data }) => {
  return data.nav === true && data.draft !== true;
});

const navPages = pages.sort((a, b) => {
  return a.data.nav_order - b.data.nav_order;
});
---

<header class="site-header">
  <nav class="site-nav">
    <a class="site-brand" href="/">Brad Cooke</a>

    <div class="site-links">
      {navPages.map((page) => (
        <a href={`/${page.id}/`}>{page.data.title}</a>
      ))}

      <a href="/orchid-rescue/">Orchid Rescue</a>
    </div>
  </nav>
</header>
